<div fxLayout="column" class='p-50'>
<div fxLayout="row">
    <h5 fxFlex="80" class="profile-words" >
        <!-- *ngIf="done && trigrams[0] != 'empty'" (click)="getLingo()" -->
        Synthesized Research Topics (Text Mining)</h5>
        <div  fxLayout="row" fxFlex="20">
        <button mat-button  (click)="getLingo()" fxLayoutAlign="end" class="info-btn"
                   matTooltip="Alternative algorithm"  [ngStyle]="{'opacity': opacity1}" style="width : 60px; border-radius :5%;" *ngIf="done && trigrams[0] != 'empty'">
                   <span style="color:white; margin-right : 8px;">Algo 1</span>
        </button>
        <button mat-button *ngIf="done && trigrams[0] != 'empty'" class="list-btn-descript-algo" style="border-radius : 50%;padding: 0px;" matTooltip="Algorithm uses to synthesize research topics" matTooltipHideDelay="2000" matTooltipPosition="above" (click)="gotoArticle()"><mat-icon class="fill-icon-algo">help</mat-icon></button>
        <!-- *ngIf="!lingo && done && trigrams[0] != 'empty'" *ngIf="lingo && done && trigrams[0] != 'empty'" -->
    <button mat-button  (click)="getLingo()" fxLayoutAlign="end" class="info-btn"
                   matTooltip="Alternative algorithm" [ngStyle]="{'opacity': opacity2}" style="width : 60px; border-radius :5%;" *ngIf="done && trigrams[0] != 'empty'">
                   <span style="color:white; margin-right : 8px;">Algo 2</span>
        </button>
        <button mat-button *ngIf="done && trigrams[0] != 'empty'" class="list-btn-descript-algo" style="border-radius : 50%; padding: 0px;" matTooltip="Algorithm uses to synthesize research topics" matTooltipHideDelay="2000" matTooltipPosition="above" (click)="gotoArticleLingo()"><mat-icon class="fill-icon-algo">help</mat-icon></button>
    </div>

</div>
<show-words *ngIf="done && trigrams[0] != 'empty' && !lingo" [words]="trigrams"></show-words>
<affiliation-clustering *ngIf="lingo" [acronym]="acronym"></affiliation-clustering>

<h5 *ngIf="done && words.length > 0" class="profile-words">
    HAL Keywords entered by Authors : </h5>
<div fxLayout="row wrap">
    <show-words *ngIf="done && words.length > 0" [words]="words"></show-words>
</div>

<!-- <h5 *ngIf="done && words_lingo.length > 0" class="profile-words m-10">
    Clustering with Lingo : <button mat-button style="background-color: rgba(0, 94, 255, 0.78); border-radius : 50%;" matTooltip="Clustering with Lingo algorithm (to get the article click on the button)" matTooltipHideDelay="2000" matTooltipPosition="above" (click)="gotoArticle()">
        i
    </button> </h5>

<div fxLayout="row wrap">
    <show-words-click *ngIf="done && words_lingo.length > 0" [words]="words_lingo" [words_pub]="publications_lingo"></show-words-click>
</div> -->

<div fxLayout.gt-md="row" fxLayout="column" fxLayoutAlign="center center" fxHide fxShow.gt-xs>
    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="wordsallkeycloud.length > 0 && done">
        <word-cloud-aff class="cloud" *ngIf="done" [wordsModel]="wordsallkeycloud"></word-cloud-aff>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="pubsByYear.length > 0" >
        <h4 style='text-align: center;'>Publications per year</h4>
        <bar-chart [data]="pubsByYear" *ngIf="pubscount"></bar-chart>
    </div>
</div>

<mat-divider></mat-divider>

<!-- <res-info [resultStat]="resultStat" [currentPage]="currentPage" (onChangeSizePage)="selectPageSize($event)"
          [pageSize]="pageSize" *ngIf="!mobileCheck() && isAtLeastOneResult()"></res-info> -->
 <h5 class="profile-words m-10">
              Team's Publications ({{totalItems}}) : </h5>
<pagination [currentPage]="currentPage" [numPages]="numPages" (onSelect)="selectPage($event)"
                *ngIf="isAtLeastOneResult()"></pagination>

<div fxLayout="row" fxLayoutAlign="center">
<publications fxFlex="100" fxFlex.gt-md="70" [publications]="currentPublications" *ngIf="currentPublications_done" [search]="id"
        ></publications>
</div>
</div>
