<div class="frame binriagris" fxFlex="3" fxHide fxShow.gt-md="true"></div>
<div fxLayout="row" class="footer" class="binriableugris" fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="end center" fxFlex>
        <button mat-button id="primer" class="binriableugris buttonfooter" routerLink="/legal"
                   matTooltip="Legal" style="">
                   Legal
        </button>
        <button mat-button id="primer" class="binriableugris buttonfooter" routerLink="/personaldata"
                   matTooltip="Personal data">
                   Personal data
        </button>
        <button mat-button id="primer" class="binriableugris buttonfooter" routerLink="/contact"
                   matTooltip="Contact">
                   Contact
        </button>
        <button mat-button id="primer" class="binriableugris buttonfooter" routerLink="/credit"
                   matTooltip="Credit">
                   Credit
        </button>
            <!-- <span id="footer-name" class="m-5"><span
                id="footer-name-c">©</span> &nbsp;Lookinlabs  2017</span> -->
    </div>
</div>
<div class="frame binriagris" fxFlex="3" fxHide fxShow.gt-md="true"></div>
