<mat-tab-group fxHide fxShow.gt-xs *ngIf="domains_done" (selectChange)="goto($event)">
    <mat-tab *ngFor="let domain of domains | slice:0:3"
     [label]="domain.key"></mat-tab>
</mat-tab-group>

<h5  class="profile-words m-10">
    Keywords :  </h5>
<show-words *ngIf="wordskeyAllDom_done && wordskey.length > 0" [words]="wordskey"></show-words>


<div fxLayout="column" fxHide fxShow.gt-xs *ngIf="done">
    <h3 class="m-10">Sub Domains</h3>
    <div fxLayout="row">
        <diagram-sub-domain [subDomain]="subDomain" *ngIf="domains_done" (onClick)="showKeywords($event)"
                ></diagram-sub-domain>
        <div fxLayout="column">
            <h4 class="m-10" *ngIf="wordskeyAll_done">{{subDomainKey}} Keywords : </h4>
            <h4 *ngIf="!wordskeyAll_done">Click on diagram to show Sub Domain Keywords</h4>
            <show-words [words]="wordskeyAll" *ngIf="wordskeyAll_done"></show-words>
        </div>
    </div>
</div>

<res-info [resultStat]="resultStat" [currentPage]="currentPage" (onChangeSizePage)="selectPageSize($event)"
          [pageSize]="pageSize" *ngIf="!mobileCheck() && isAtLeastOneResult()"></res-info>
<div fxLayout="row"  fxLayoutAlign="center center" *ngIf="isAtLeastOneResult()">
    <mat-select fxFlex="20" fxHide fxShow.gt-xs class="m-5" [ngModel]="selectSubDomain"
        (ngModelChange)="getAffPublicationsSubDomain($event)" placeholder="Sub domain">
        <mat-option *ngFor="let explain of explains" [value]="explain" style="text-decoration: none; color: rgb(245, 80, 24); font-weight: 400;">
            {{explain}}
        </mat-option>
    </mat-select>
</div>
<pagination [currentPage]="currentPage" [numPages]="numPages" (onSelect)="selectPage($event)"
                ></pagination>

<publications [publications]="currentPublications" *ngIf="currentPublications_done" [search]="id"
        ></publications>
