<mat-list>
    <mat-list-item  *ngFor="let hit of users.hits.hits" id="list-card" class="list-items m-5">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="40">
            <a href="/individual/{{ hit._id }}" (click) = "piwikEvent(hit._id, textSearch)" target="_blank" style="text-decoration : none; " id="go-to-profile-user">
                <div class="name-authors" *ngIf="hit._source.last_appear != current_year">
                    {{ hit._source.forename }} {{ hit._source.surname }}
                </div>
                <div class="aff-name" *ngIf="hit._source.last_appear == current_year">
                    {{ hit._source.forename }} {{ hit._source.surname }}
                </div>
            </a>
        </div>
        <div fxFlex="60" fxLayout="row" fxLayoutAlign="end">
            <button mat-button class="list-btn-descript" *ngIf="!mobileCheck() && !explanationBtn"
                           matTooltip="Explanation of the return" (click)="showCloud(hit._id, hit._source.forename, hit._source.surname)" id="btn-user-why">
                <mat-icon class="fill-icon">help</mat-icon>
            </button>
            <button mat-button *ngIf="(isSearchUser || isTeamKeywords) && hit.inner_hits.pubs.hits.total != undefined"
                       class="list-btn" id="publication-keywords"
                       (click) = "goToPublicationBykeywords(hit._id, textSearch)"
                       target="_blank" matTooltip="Publications related to the query"
                       style="background-color: blank;">
                <mat-icon class="fill-icon">description</mat-icon>
            </button>
            <span class="nb-pub" *ngIf="(isSearchUser || isTeamKeywords) && hit.inner_hits.pubs.hits.total != undefined && !mobileCheck()" id="nb-publication-keywords" style="color : #e63312;">{{ hit.inner_hits.pubs.hits.total }}</span>

            <button mat-button class="list-btn" matTooltip="Similar individuals" (click)="individualsSimilars(hit._id)" target="_blank" id="button-similars">
                <mat-icon class="fill-icon">group</mat-icon>
            </button>
            <button mat-button *ngIf="!mobileCheck()" class="list-btn" (click)="individualsRelations(hit._id)"
                           matTooltip="Similar individuals social graph" target="_blank" id="button-people">
                <mat-icon class="fill-icon" style="-ms-transform: rotate(50deg); /* IE 9 */
    -webkit-transform: rotate(50deg); /* Chrome, Safari, Opera */
    transform: rotate(50deg);">share</mat-icon>
            </button>
            <button mat-button class="list-btn-shop"
                           matTooltip="Save result" (click)="saveUser(hit._id, hit._source.forename, hit._source.surname)" id="save-user">
                <mat-icon class="fill-icon">shopping_cart</mat-icon>
            </button>
        </div>
    </mat-list-item>
</mat-list>
