<!-- Use to make comment on the page -->
<button mat-button fxHide fxShow.gt-xs (click)=showComment($event) style="position: fixed; bottom: 5px; right: 5px" aria-label="comment-btn">
    <mat-icon size="40">feedback</mat-icon>
</button>
        <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-around" *ngIf="!done">
            <mat-spinner class="spinner-size"></mat-spinner>
        </div>

        <h1 class="name-aff" *ngIf="notFound"> Individual Not Found</h1>
        <div fxLayout="row" *ngIf="!notFound" fxLayoutAlign="center" style="background-color: white;">
            <h1 class="name-profile pr-5">{{ fullName}}</h1>
            <h1 class="address-aff" *ngIf="!notFound" (click)="goToAffiliation()" style="cursor: pointer; text-align: center; padding-top: 17px;">(Team : {{ acronym }})</h1>
            <!-- <div fxLayout="row" class="history-prof" *ngIf="history.length > 0">
                <span class="m-5">History :  </span>
                <span *ngFor="let his of history" class="m-5">
                    {{ his.acronym }} ({{his.first_appear}} - {{his.last_appear}})  </span>
            </div> -->
        </div>

<profile-overview *ngIf="alldone && tabSelect == ''" [resp]="searchResp"></profile-overview>
