
<mat-list>
    <mat-list-item id="list-aff-item" *ngFor="let hit of affiliations" class="m-5 list-items">
        <div fxFlex="45" fxLayout="row" fxLayoutAlign="start center" class="m-5" style="cursor:pointer;" id="go-to-profile-aff">
            <a href="/team/{{ hit._id }}" (click)="piwikEvent(hit._id)" target="_blank" style="text-decoration : none;">
              <span class="name-authors" *ngIf="hit._source.status == 'OLD'">
                  <span *ngIf="hit._source.acronym ==''">Unknown</span>
                  <span *ngIf="mapHistory.has(hit._id)">
                      <span *ngFor="let team of mapHistory.get(hit._id).split(' ')">
                          <span *ngIf="team.includes('blod')" style="color: black;">
                              <b>{{ team.replace('blod', "") }}</b>
                          </span>
                          <span *ngIf="team == '->'" style="color: black;">
                              &rarr;
                          </span>
                          <span *ngIf="!team.includes('blod') && team != '->'">{{ team}} </span>
                      </span>
                  </span>
                  <span *ngIf="!mapHistory.has(hit._id)">{{ hit._source.acronym }}</span>
              </span>
              <span class="aff-name" *ngIf="hit._source.status == 'VALID' || hit._source.status == 'WAIT'">
                  <span *ngIf="hit._source.acronym ==''">Unknown</span>
                  <span>{{ hit._source.acronym}}</span>
              </span>
          </a>
        </div>

        <div fxLayout="row" fxFlex="65" fxLayoutAlign="end">
            <button mat-button *ngIf="(isSimilar || isSearch) && !mobileCheck()" id="btn-aff-explain"
            matTooltip="Explanation of the return" class="list-btn-descript"  (click)="showExplanation(hit._id)">
                <mat-icon size="" class="fill-icon">help</mat-icon>
            </button>
            <button mat-button *ngIf="(!isSimilar || isSearch) && mapNbPub.has(hit._id)"
            class="list-btn" (click)="goToPublicationKeywords(hit._id)" target="_blank"
            matTooltip="Publications related to the query" id="publication_desc">
                <mat-icon class="fill-icon">description</mat-icon>
            </button>
            <span *ngIf="!mobileCheck()" class="nb-pub" style="color : #e63312;">{{ mapNbPub.get(hit._id) }}</span>
            <button mat-button *ngIf="!isSimilar && isSearch"
            class="list-btn" id="btn-aff-people" matTooltip="Individuals related to the query"
            (click)="goToPublicationIndivKeywords(hit._id, encodesearch)" target="_blank">
                <mat-icon class="fill-icon">group</mat-icon>
            </button>
            <button mat-button class="list-btn" id="btn-aff-similar" (click)="goToSimilarTeam(hit._id)"
        matTooltip="Similar Teams"target="_blank">
            <mat-icon class="fill-icon" style="-ms-transform: rotate(50deg); /* IE 9 */
        -webkit-transform: rotate(50deg); /* Chrome, Safari, Opera */
        transform: rotate(50deg);">share</mat-icon>
            </button>
            <button mat-button class="list-btn-shop"
                (click)="saveAffiliation(hit._id, hit._source.acronym)" matTooltip="Save result">
            <mat-icon class="fill-icon">shopping_cart</mat-icon>
            </button>
        </div>
    </mat-list-item>
</mat-list>
