    <div class="frame" fxFlex.gt-md="5"></div>
    <div fxFlex.gt-md="90" fxFlex="100" class="mat-whiteframe-z1" style="background-color: rgb(255, 255, 255);">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h1 class="name-title">Individuals related to the query
            <span class="inriarouge">{{keywordAff}}</span>  in team <span class="inriarouge" *ngIf="done">{{acronym}}</span> </h1>
        </div>
        <res-info [resultStat]="resultStat" [currentPage]="currentPage" (onChangeSizePage)="selectPageSize($event)"
                  [pageSize]="pageSize" *ngIf="!mobileCheck() && done">
        </res-info>
        <!--<res-info-dir fxLayout="row" fxfxLayoutAlign="end center" *ngIf="!mobileCheck() && isAtLeastOneResult()"></res-info-dir>-->
        <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-around" *ngIf="!isAtLeastOneResult()">
            <mat-spinner class="spinner-size"></mat-spinner>
        </div>
        <pagination [currentPage]="currentPage" [numPages]="numPages" (onSelect)="selectPage($event)"
                        *ngIf="isAtLeastOneResult()"></pagination>
        <list-individuals [users]="searchResp" [isTeamKeywords]="isTeamKeywords" [explanationBtn]="explanationBtn" [textSearch]="keywordAff"
                *ngIf="isAtLeastOneResult()"></list-individuals>
    </div>
