<div class="frame binriagris" fxFlex="3" fxHide fxShow.gt-md="true"></div>
<mat-toolbar  id="toolbar-css" class="toolbar-top binriableugris" fxHide fxShow.gt-sm="true">

    <!-- <img class="pl-10 brand" id="logo-toolbar" src="./app/resources/images/logo/inr_logo_inverse.png"> -->
    <div fxFlex="100" >


        <div fxFlex="45" fxLayoutAlign="right center">
            <a href="https://inria.fr/" target="_blank" class="m-5" style="color:black;">
                <img class="pl-10 brand" id="logo-toolbar" src="./app/resources/images/logo/inr_logo_inverse.png">
            </a>
            <div class="m-5" fxLayoutAlign="center center" style="border-left: 3px solid white; height: 50px;"></div>
            <a href="https://cominlabs.u-bretagneloire.fr/" target="_blank" class="m-5" style="color:black;">
                <img class="pl-10 brand" id="logo-toolbar" src="./app/resources/images/logo/logo_cominlabsblanc.png">
            </a>
        </div>
        <!-- <cookies fxLayoutAlign="center" style='position: absolute; left: 25%;'></cookies> -->
        <div fxFlex="20" fxLayoutAlign="right center">
            <a routerLink="/" (mouseover)="mouseOn()" (mouseleave)="mouseOut()" id="show-explain" style="color:black;">
                <img class="pl-10 brand" id="logo-toolbar" src="./app/resources/images/logo/lookinlabs-logoblanc.png">
            </a>
        </div>

        <div fxFlex="35" fxLayoutAlign="end end">


            <!-- <div class="p-5">
                <button mat-button id="primer" class="button-toolbar binriableu" routerLink="/primer"
                           matTooltip="Primer">
                    <mat-icon style="color: white;" size="26">info</mat-icon>
                </button>
            </div> -->

            <div class="p-5" fxLayoutAlign="end center">
                <!-- <button mat-button id="primer" class="button-center-toolbar binriableugris" routerLink="/primer"
                           matTooltip="Primer">
                           About
                </button> -->
                <a routerLink="/primer" id="primer" (mouseover)="mouseOn()" (mouseleave)="mouseOut()" class="binriableugris" style="color:black; text-decoration:none; padding-top : 10px;">
                    <span class="pr-20" id="logo-toolbar" style="color:white;">About</span>
                </a>
                <button mat-button fxLayoutAlign="center center" id="basket" class="button-toolbar binriarouge" routerLink="/basket" matTooltip="Basket" style="outline : 0px !important;">
                    <mat-icon style="color: white;" size="26">shopping_cart</mat-icon>
                </button>
                <span class="circle-small" id="nb-save-circle">
                    <span id="save-nb" style="font-size: 12px;">{{ count }}</span>
                </span>
            </div>
        </div>
    </div>

</mat-toolbar>
<div class="frame binriagris" fxFlex="3" fxHide fxShow.gt-md="true"></div>

<mat-toolbar  id="toolbar-css" class="toolbar-top binriableugris" fxShow.gt-sm="false" style="height: 90px !important">
    <div fxFlex="100" >
        <div fxFlex="35" fxLayout="column" fxLayoutAlign="right center">
            <a routerLink="/" (mouseover)="mouseOn()" (mouseleave)="mouseOut()" id="show-explain" style="margin-top:10px; color:black;">
                <img class="p-10 brand" id="logo-toolbar" src="./app/resources/images/logo/inr_logo_inverse.png">
            </a>
            <a href="https://cominlabs.u-bretagneloire.fr/" target="_blank" style="color:black;">
                <img class="p-10 brand" id="logo-toolbar" src="./app/resources/images/logo/logo_cominlabsblanc.png">
            </a>
        </div>

        <!-- <div fxFlex="45" fxLayoutAlign="center center">
            <button mat-button id="primer" class="button-center-toolbar-mobile binriaorange" routerLink="/primer"
                       matTooltip="Primer">
                       What'n<br>
                       How ?
            </button>
        </div> -->

        <div fxFlex="30" fxLayoutAlign="left center">
            <a routerLink="/" (mouseover)="mouseOn()" (mouseleave)="mouseOut()" id="show-explain" style="color:black;">
                <img class="p-10 brand" id="logo-toolbar" src="./app/resources/images/logo/lookinlabs-logoblanc.png">
            </a>
        </div>

        <div fxFlex="35" fxLayoutAlign="end center">
            <!-- <div class="p-5">
                <button mat-button id="primer" class="button-toolbar binriableu" routerLink="/primer"
                           matTooltip="Primer">
                    <mat-icon style="color: white;" size="26">info</mat-icon>
                </button>
            </div> -->
            <button mat-button id="primer" class="button-center-toolbar-mobile binriableugris" routerLink="/primer"
                       matTooltip="Primer" style="font-size:12px;">
                       About
            </button>
            <div class="p-5" fxLayoutAlign="center center">
                <button mat-button id="basket" class="button-toolbar-mobile binriarouge" routerLink="/basket" matTooltip="Basket" style="outline : 0px !important;">
                    <mat-icon style="color: white;" size="26">shopping_cart</mat-icon>
                </button>
                <span class="circle-small" id="nb-save-circle">
                    <span id="save-nb" style="font-size: 12px;">{{ count }}</span>
                </span>
            </div>
        </div>
    </div>

</mat-toolbar>
<!-- <div *ngIf="(explain && isFrontPage()) || (notclick && isFrontPage())" [@myAnimation] id="explain">

    <div fxLayout="row" fxLayoutAlign="center center" class="bimage"></div>

    <div class="binriajaune">
        <p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
            LookinLabs for HAL-Inria is more than a search tool. It allows you to find, among teams/individuals/publications
            taken from all the Inria teams, those best matching your query. The tool exploits, as data, <b>HAL-Inria archives</b>,
            in combination with <b>Inria Activity reports</b>, and the internal data base of Inria teams.<br>
            Active <b>teams/individuals</b> are shown in boldface. <span style="color: grey;">Teams/individuals</span> shown in gray are no longer active at Inria.
            The mention: <span style="color: grey;">TEAM0</span> &rarr; <b>(TEAM1,TEAM2)</b> indicates follow-up active teams, if any.<br>
            No ontology is used. No data need to be manually entered (besides the users’ queries).
            The tool uses <b>Elasticsearch</b> as its core algorithm. This means that the matching is based on a distance between
            the query and the set of data attached, in HAL, to each team/individual/publication. Ranking is performed accordingly.<br>
            Explanations are given for each returned item. Correlation graphs are given, allowing to navigate through teams
            or individuals that share common interests (they may or may not be co-authors).<br><br>
        </p>
    </div>
</div> -->
