<div fxLayout="row" fxLayoutAlign="center">
    <h3>TEAMS</h3>
</div>
<div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-around" *ngIf="researchProcess">
    <mat-spinner class="spinner-size"></mat-spinner>
</div>
<h3 fxLayout="row" fxLayoutAlign="center center"
    *ngIf="!isAtLeastOneResult() && researchStart" class="inriarouge"> No Result Found</h3>
    <pagination [currentPage]="currentPage" [numPages]="numPages"
                    (onSelect)="selectPage($event)" *ngIf="isAvailableResults()"></pagination>
<list-results-aff  [search]="searchText" [affiliations]="searchResp" [isSearch]="isSearch"
    [isBigram]="isBigram" *ngIf="isAtLeastOneResult()">
</list-results-aff>
<!-- <pagination [currentPage]="currentPage" [numPages]="numPages"
                (onSelect)="selectPage($event)" *ngIf="isAvailableResults()"></pagination> -->
<!-- infiniteScroll (scrolled)="onScroll()" [infiniteScrollThrottle]="150" [infiniteScrollDistance]="20" -->
