/* css list result team*/

.list-btn{
    background-color: rgb(80, 66, 87) !important;
    border:0px;
    margin: 2px;
    line-height: 24px;
    padding: 1px !important;
    min-width: 30px !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor : pointer;
}


.info-btn{
    background-color: rgb(56, 66, 87) !important;
    border:0px;
    margin: 2px;
    line-height: 24px;
    padding: 1px !important;
    min-width: 30px !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor : pointer;
}

.list-btn-shop{
    background-color: rgb(230, 51, 18) !important;
    border:0px;
    margin: 2px;
    padding: 2px !important;
    width: 30px;
    height: 30px;
    min-width: 30px !important;
    line-height: 24px;
    border-radius: 50%;
    cursor : pointer;
}

.list-btn-descript{
    background-color: #504257b3;
    border:0px;
    margin: 2px;
    padding: 2px !important;
    width: 30px;
    height: 30px;
    min-width: 30px !important;
    line-height: 24px;
    border-radius: 50%;
    cursor : pointer;
}

.list-btn-descript-algo{
    background-color: #504257b3;
    border:0px;
    margin: 2px;
    margin-right: 10px;
    width: 26px;
    height: 26px;
    line-height: 24px;
    border-radius: 50%;
    cursor : pointer;
}

.fill-icon{
    color : white;
    margin-top: 2px;
    font-size: 20px !important;
    text-align: center;
    margin-top: 4px;
    height: 20px !important;
    width: 20px !important;
}

.fill-icon-algo{
    color : white;
    margin-top: 3px;
    font-size: 20px !important;
    text-align: center;
    height: 20px !important;
    width: 20px !important;
}

.fill-icon-grey{
    color: rgb(230, 51, 18);
    margin-top: 2px;
    font-size: 20px !important;
    text-align: center;
    margin-top: 4px;
    height: 20px !important;
    width: 20px !important;
}

.name-authors{
    font-size: 1.2em;
    font-weight: 400;
    color: grey;
}

.aff-name{
    font-size: 1.2em;
    font-weight: 600;
    color: black;
}

.list-items{
    background-color: white;
    min-width: 200px;
}

.nb-pub{
    font-size: 0.7em;
    font-weight: 700;
    position: absolute;
    top: 35px;
    right: 120px;
}

.mat-icon-button{
  border : 0px !important;
}
