    <div fxFlex-gt-md="90" fxFlex="100" class="mat-whiteframe-z1" style="background-color: rgb(255, 255, 255);">
        <div fxLayout="row" fxLayoutAlign="center center">
            <h1 class="name-title">Similar individuals to <span
                    class="inriarouge">{{ firstName }} {{ lastName }}</span></h1>
        </div>
        <res-info [resultStat]="resultStat" [currentPage]="currentPage" (onChangeSizePage)="selectPageSize($event)"
                  [pageSize]="pageSize" *ngIf="!mobileCheck()">
        </res-info>
        <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-around" *ngIf="researchProcess">
            <mat-spinner class="spinner-size"></mat-spinner>
        </div>
        <h3 fxLayout="row" fxLayoutAlign="center center" *ngIf="!resultFound" class="inriarouge"> No Result Found</h3>
        <pagination [currentPage]="currentPage" [numPages]="numPages" (onSelect)="selectPage($event)"
                        *ngIf="isAtLeastOneResult()"></pagination>
        <list-individuals [users]="searchResp" [isSearchUser]="isSearchUser" [explanationBtn]="explanationBtn"
                *ngIf="isAtLeastOneResult()"></list-individuals>
    </div>
