    <div class="mat-whiteframe-z1">

        <div fxLayout="row" fxLayoutAlign="center center">
            <h1 class="name-title" style="text-align: center;">
                Publications related to <span *ngIf="done" class="inriarouge">{{ fullName }} and {{ keyword }}</span></h1>
        </div>

        <res-info [resultStat]="resultStat" [currentPage]="currentPage" (onChangeSizePage)="selectPageSize($event)"
                  [pageSize]="pageSize" *ngIf="!mobileCheck() && done"></res-info>

        <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-around" *ngIf="!done">
            <mat-spinner class="spinner-size"></mat-spinner>
        </div>

        <pagination [currentPage]="currentPage" [numPages]="numPages" (onSelect)="selectPage($event)"
                        *ngIf="isAtLeastOneResult()"></pagination>
        <publications [publications]="currentPublications" *ngIf="isAtLeastOneResult()" [search]="keyword"></publications>

    </div>
