<!-- <h5 *ngIf="done && words_lingo.length > 0" class="profile-words" style="margin-top : 30px !important; margin-bottom : 10px !important;">
    Clustering with Lingo <span style="font-size : 0.7em;">(Click on topics to show keywords and publications relate to the cluster)</span> : <button mat-button style="background-color: rgba(0, 94, 255, 0.78); border-radius : 50%;" matTooltip="Clustering with Lingo algorithm (to get the article click on the button)" matTooltipHideDelay="2000" matTooltipPosition="above" (click)="gotoArticle()">
        i
    </button> </h5> -->

<div fxLayout="row wrap">
    <show-words-click *ngIf="done && words_lingo.length > 0" [words]="words_lingo" [words_pub]="publications_lingo"></show-words-click>
</div>
