<div fxLayout="column" class='p-50'>
    <div fxLayout="row">
    <!-- <button mat-button *ngIf="lingo && topics[0] != 'empty'" (click)="getLingo()"
               matTooltip="Alternative algorithm"  class="list-btn" style="border-radius : 50%; background-color : rgb(230, 51, 18) !important;">
        <mat-icon style="color: #040101;">navigate_before</mat-icon>
    </button> -->
    <h5 fxFlex="80" class="profile-words" *ngIf="topics[0] != 'empty'" >
        Synthesized Research Topics (Text Mining) </h5>
        <div  fxLayout="row" fxFlex="20">
        <button mat-button  (click)="getLingo()" fxLayoutAlign="end" class="info-btn"
                   matTooltip="Alternative algorithm"  [ngStyle]="{'opacity': opacity1}" style="width : 60px; border-radius : 5%;" *ngIf="done && topics[0] != 'empty'">
                   <span style="color:white; margin-right : 8px;">Algo 1</span>
        </button>
        <button mat-button *ngIf="done && topics[0] != 'empty'" class="list-btn-descript-algo" style="border-radius : 50%; padding: 0px;" matTooltip="Algorithm uses to synthesize research topics" matTooltipHideDelay="2000" matTooltipPosition="above" (click)="gotoArticle()"><mat-icon size="" class="fill-icon">help</mat-icon></button>
        <!-- *ngIf="!lingo && done && trigrams[0] != 'empty'" *ngIf="lingo && done && trigrams[0] != 'empty'" -->
    <button mat-button  (click)="getLingo()" fxLayoutAlign="end" class="info-btn"
                   matTooltip="Alternative algorithm" [ngStyle]="{'opacity': opacity2}" style="border-radius : 5%; width : 60px;" *ngIf="done && topics[0] != 'empty'">
                   <span style="color:white; margin-right : 8px;">Algo 2</span>
        </button>
        <button mat-button *ngIf="done && topics[0] != 'empty'" class="list-btn-descript-algo" style="border-radius : 50%; padding: 0px;" matTooltip="Algorithm uses to synthesize research topics" matTooltipHideDelay="2000" matTooltipPosition="above" (click)="gotoArticleLingo()"><mat-icon size="" class="fill-icon-algo">help</mat-icon></button>
    </div>
</div>
        <!-- <button mat-button *ngIf="topics[0] != 'empty'" class="info-btn" style="border-radius : 50%;" matTooltip="Algorithm uses to synthesize research topics" matTooltipHideDelay="2000" matTooltipPosition="above" (click)="gotoArticle()">i</button>
        <button mat-button *ngIf="!lingo && topics[0] != 'empty'" (click)="getLingo()"
                   matTooltip="Alternative algorithm"  class="list-btn" style="border-radius : 50%; background-color : rgb(230, 51, 18) !important;">
            <mat-icon style="color: #040101;">navigate_next</mat-icon>
        </button>
     </div> -->
    <show-words *ngIf="done && topics[0] != 'empty' && !lingo" [words]="topics"></show-words>

    <profile-clustering *ngIf="lingo" [formatName]="fullName"></profile-clustering>

    <h5 *ngIf="done && words.length > 0" class="profile-words">
        HAL Keywords entered by Authors : </h5>
    <div fxLayout="row wrap">
        <show-words *ngIf="done && words.length > 0" [words]="words"></show-words>
    </div>

</div>


<div fxLayout.gt-md="row" fxLayout="column" fxHide fxShow.gt-xs>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50" *ngIf="wordsallkeycloud.length > 0 && done">
        <word-cloud-aff class="cloud" *ngIf="done" [wordsModel]="wordsallkeycloud"></word-cloud-aff>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" flex="50" *ngIf="pubsByYear.length > 0" >
        <h4 style='text-align: center;'>Publications per year</h4>
        <bar-chart [data]="pubsByYear" *ngIf="pubscount"></bar-chart>
    </div>
</div>

<div fxLayout="column">
<!-- <res-info [resultStat]="resultStat" [currentPage]="currentPage" (onChangeSizePage)="selectPageSize($event)"
          [pageSize]="pageSize" *ngIf="!mobileCheck() && isAtLeastOneResult()"></res-info> -->
          <h5 class="profile-words m-10">
                       Individual's Publications ({{totalItems}}) : </h5>
<pagination [currentPage]="currentPage" [numPages]="numPages" (onSelect)="selectPage($event)"
                *ngIf="isAtLeastOneResult()"></pagination>
<div fxLayout="row" fxLayoutAlign="center">
    <publications fxFlex="100" fxFlex.gt-sm="70" [publications]="currentPublications" *ngIf="currentPublications_done" [search]="key_user"
            ></publications>
        </div>
</div>
