    <div fxLayout="row" fxLayoutAlign="center center">
            <h1 class="name-title">Social Graph of <span
                    class="inriarouge">{{ firstName }} {{ lastName }}</span></h1>
        </div>

        <!-- <res-info [resultStat]="resultStat" [currentPage]="currentPage" (onChangeSizePage)="selectPageSize($event)"
                  [pageSize]="pageSize" *ngIf="!mobileCheck() && done">
        </res-info>

        <pagination [currentPage]="currentPage" [numPages]="numPages" (onSelect)="selectPage($event)"
                        *ngIf="isAtLeastOneResult()"></pagination> -->
<!--
        <div fxLayout="row" fxLayoutAlign="center center">
            <h1 class="name-title"> <b>Click</b> on circle to show <i>individuals similar</i>, <b>Double Click</b> to show individual <i>profile</i></h1>
            </div> -->

        <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center" *ngIf="!isAvailableResults()">
            <mat-spinner class="spinner-size"></mat-spinner>
        </div>
        <h3 fxLayout="row" fxLayoutAlign="center center" *ngIf="totalItems == 0" class="inriarouge"> No Result Found</h3>
        <social-graph *ngIf="isAtLeastOneResult()" fxLayoutAlign="center center"
                          [origin]="origin"
                          [searchResp]="searchResp"></social-graph>
