<div fxLayout="row" fxLayoutAlign="center">
    <h3>PUBLICATIONS</h3>
</div>
<div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center" *ngIf="researchProcess">
    <mat-spinner class="spinner-size"></mat-spinner>
</div>
<h3 fxLayout="row" fxLayoutAlign="center center"
    *ngIf="!isAtLeastOneResult() && researchStart" class="inriarouge"> No Result Found</h3>
    <pagination [currentPage]="currentPage" [numPages]="numPages"
                    (onSelect)="selectPage($event)" *ngIf="isAvailableResults()"></pagination>
<publications [publications]="currentPublications" *ngIf="isAtLeastOneResult()" [search]="searchText"
                ></publications>

<!-- <pagination [currentPage]="currentPage" [numPages]="numPages"
                (onSelect)="selectPage($event)" *ngIf="isAvailableResults()"></pagination> -->
