
    <div style="background-color: white;">

            <div fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-around" *ngIf="!isAtLeastOneResult() || !done">
            <mat-progress-spinner [mode]="indeterminate"></mat-progress-spinner>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" *ngIf="aff_done">
                <h1 class="name-title"> Publications related to
                <span class="inriarouge" *ngIf="pubFound > 0"> {{acronym}} and {{keywords}}</span></h1>
                <!-- <h1 class="city-aff">{{ name }}</h1> -->

            </div>
            <h1 class="name-aff" *ngIf="pubFound == 0"> Publications  not found for affiliation
                <i style="color: black">{{ name}}</i> and  Topic:  <i style="color: black">{{keywords}}</i></h1>

            <res-info [resultStat]="resultStat" [currentPage]="currentPage" (onChangeSizePage)="selectPageSize($event)"
                              [pageSize]="pageSize" *ngIf="!mobileCheck() && isAtLeastOneResult()"></res-info>

            <pagination [currentPage]="currentPage" [numPages]="numPages" (onSelect)="selectPage($event)"
                            *ngIf="isAtLeastOneResult()"></pagination>

            <publications [publications]="currentPublications" *ngIf="done && pubFound > 0" [search]="keywords"
                    ></publications>

    </div>
