<div class="modal-header" style="background-color: rgb(56, 66, 87);">
    <h3 class="modal-title ml-5">{{ msg }}</h3>
</div>
<div *ngIf="done" class="cloud"></div>
<!-- <mat-dialog-actions>
  <button mat-button mat-dialog-close fxLayoutAlign="end">Close</button>
</mat-dialog-actions> -->
