<div fxLayout="row" style="width : 100%;">
    <mat-chip-list  *ngIf="words.length > 0 && words[0].text == undefined">
        <mat-chip  class="chip-font" *ngFor="let word of words | slice:0:nbwords" (click)="gotopub(word)">
            {{ word }}
        </mat-chip>
        <div fxLayoutAlign="center">
            <span *ngIf="words.length > 0 && !morewords" (click)="moreWords(true)" id="more_words"
                       matTooltip="Show more topics"  style="color : black; cursor : pointer; font-weight: 800;">
                more...
            </span>
            <span *ngIf="words.length > 0 && morewords" (click)="moreWords(false)" id="less_words"
                       matTooltip="Show less topics" style="color : black; cursor : pointer; font-weight: 800;">
                less...
            </span>
        </div>
    </mat-chip-list>
</div>
<!-- <h5 *ngIf="listWords_done && listWords.length > 0" class="profile-words" style="margin-top : 30px !important; margin-bottom : 10px !important;">
    Keywords for {{words_cluster}} : </h5>
<div fxLayout="row wrap">
    <show-words *ngIf="listWords_done && listWords.length > 0" [words]="listWords"></show-words>
</div>

<h5 *ngIf="listPublications_done" class="profile-words" style="margin-top : 30px !important; margin-bottom : 10px !important;">
    Publications for {{words_cluster}} : -->
    <!-- <button mat-button *ngIf="listPublications_done" (click)="hide()"
               class="list-btn-more" style="background-color: rgba(255, 0, 0, 0.78) !important;" >
               Hide
    </button> -->
<!-- </h5>
<publications [publications]="listPublications" *ngIf="listPublications_done" [search]="nbwords"
        ></publications> -->
