<div fxLayout="row" class="modal-header" style="background-color: rgb(56, 66, 87);">
    <h3 fxFlex="90" class="modal-title m-5">{{ msg }}</h3>
    <mat-dialog-actions fxLayoutAlign="center" style="margin-bottom:0px; padding : 7px;">
      <button mat-button mat-dialog-close style="height : 30px; width : 30px; background-color : rgb(56, 66, 87); border : 0px;">
      <mat-icon class="fill-icon" size="24" style="color : white;">close</mat-icon></button>
    </mat-dialog-actions>
</div>
<div class="cloudWords"></div>
