/** css toolbar top*/

#button-search {
    margin: 0 6px;
    height: 40px;
    min-width: 0;
    line-height: 24px;
    padding: 8px;
    width: 40px;
    border-radius: 50%;
    border:0px;
    background-color : rgb(56, 66, 87);
    cursor : pointer;
}

.all-search{
    background-color: rgb(255, 255, 255);
    height: 100%;
}
