<div fxLayout="column" class="all-search" style="min-height: 100%;" (window:resize)="onResize($event)">

    <div fxFlex="80" fxLayout="row" fxLayoutAlign="center" class="m-5" *ngIf="notclick">
        <!-- <div  class="pr-30"> -->
        <h3 style="font-weight : 500 !important;">
            <b>What is it?</b><br>
            LookinLabs allows you to find, among teams/individuals/publications taken from all the Inria teams, those best matching your query.
            The tool exploits, as data, the <b>HAL-archives</b>.<br><br>
        <b>Notational conventions:</b><br>
        Active <b>teams/individuals</b> are shown in boldface. <span style="color: grey;">Teams/individuals</span> shown in gray are no longer active at Inria.
        The mention: <span style="color: grey;">TEAM0</span> &rarr; <b>(TEAM1,TEAM2)</b> indicates follow-up active teams, if any.<br><br>
        <b>How to use it?</b><br>
        Writing, as part of the query, "network security" (with quotes) indicates that you do not want the two words to be considered separately. This convention applies to pairs and triples of words.<a routerLink="/primer" style="color:rgb(230, 51, 18); font-weight: 600;">more...</a>
    </h3>
    <!-- </div> -->
    </div>

    <div fxLayout="column" fxLayoutAlign="center" class="p-20 binriableugris" style="min-height: 100px; padding-bottom : 5px !important; margin-top : 2px !important; margin-bottom : 5px !important;" *ngIf="!notclick">
    <div fxLayout="row" fxLayoutAlign="center">
        <mat-form-field fxFlex="80"  style="background-color: white;">
          <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="searchText">
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" (click)="OptionSearch(option)" [value]="option">{{option}}</mat-option>
        </mat-autocomplete>
        <!-- <input matInput fxFlex="80"   style="background-color: white;"
            [(ngModel)]="searchText"
        > -->
                    <!-- placeholder="Search" -->
        <button mat-button id="button-search"
                matTooltip="Search" (click)="textSearch(searchText)">
            <mat-icon style="color: white;" size="32">search</mat-icon>
        </button>

    </div>
    <div class="m-5 p-5" fxLayout="row" fxLayoutAlign="center center">
        <mat-checkbox class="m-5" [(ngModel)]="teams" (ngModelChange)="onChangeTeam()" aria-label="Teams 1" style="color:white;">
            Teams
        </mat-checkbox>
        <mat-checkbox class="m-5" [(ngModel)]="individuals"  (ngModelChange)="onChangeIndiv()" aria-label="Individuals 1" style="color:white;">
            Individuals
        </mat-checkbox>
        <mat-checkbox class="m-5" [(ngModel)]="publications" (ngModelChange)="onChangePub()" aria-label="Publications 1" style="color:white;">
            Publications
        </mat-checkbox>
    </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="center" class="m-5 p-15 binriableugris" style="min-height: 100px; padding-bottom : 5px !important;" *ngIf="notclick">
<div fxLayout="row" fxLayoutAlign="center">

        <mat-form-field fxFlex="80"  style="background-color: white;">
          <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="searchText">
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" (click)="OptionSearch(option)" [value]="option">{{option}}</mat-option>
        </mat-autocomplete>

        <!-- <input matInput fxFlex="80"   style="background-color: white;"
            [(ngModel)]="searchText"
        > -->
                    <!-- placeholder="Search" -->
        <button mat-button id="button-search"
                matTooltip="Search" (click)="textSearch(searchText)">
            <mat-icon style="color: white;" size="32">search</mat-icon>
        </button>

    </div>
    <div class="m-5" fxLayout="row" fxLayoutAlign="center center">
        <mat-checkbox class="m-5" [(ngModel)]="teams" (ngModelChange)="onChangeTeam()" aria-label="Teams 1" style="color:white;">
            Teams
        </mat-checkbox>
        <mat-checkbox class="m-5" [(ngModel)]="individuals"  (ngModelChange)="onChangeIndiv()" aria-label="Individuals 1" style="color:white;">
            Individuals
        </mat-checkbox>
        <mat-checkbox class="m-5" [(ngModel)]="publications" (ngModelChange)="onChangePub()" aria-label="Publications 1" style="color:white;">
            Publications
        </mat-checkbox>
    </div>
</div>

    <div fxLayout="column">
        <h3 *ngIf="suggestion_topic" style="text-align : center;"> Related to : {{listTopic}}</h3>
        <h3 *ngIf="suggestion_search" style="text-align : center;"> Did you mean : {{suggestion_text}}</h3>
        <h3 *ngIf="list_word2vec_done && !suggestion_topic" style="text-align : center;"> Related to : {{list_word2vec}}</h3>
    </div>

    <div fxLayout="row" fxFlex="100">
        <affiliations-search [fxFlex]="flexTeams" *ngIf="teams && exactMatchDone" [textSearchIn]="searchText" [exactMatch]="exactMatch" [isaPerson]="isaPerson" [allStruct]="allStruct"></affiliations-search>
        <users-search [fxFlex]="flexIndividuals" *ngIf="individuals && exactMatchDone" [textSearchIn]="searchText" [exactMatch]="exactMatch" [isaPerson]="isaPerson"></users-search>
        <publications-search [fxFlex]="flexPublications" *ngIf="publications && exactMatchDone" [textSearchIn]="searchText" [exactMatch]="exactMatch" [publi]="pubsUser" [isaPerson]="isaPerson"></publications-search>
    </div>

    <div fxFlex="row" fxLayoutAlign="end end" style="bottom: 10px; position: fixed; right: 10px;">
        <button mat-button id="button-search"
                matTooltip="GoToTop" (click)="goToTop()" >
            <mat-icon style="color: white;" size="32">arrow_upward</mat-icon>
        </button>
    </div>
</div>
