    <div fxLayout="row" fxFlexFill>
        <div class="mat-whiteframe-z1" style="background-color: white;">
            <h1 class="ml-50 pr-50">Contact</h1>
            <p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
            Editor in chief : Albert Benveniste; albert.benveniste@inria.fr<br><br>
            Developer : Jean Hany; jean.hany@inria.fr
         </p>
    </div>
