<div class="frame binriagris" fxFlex="3" fxHide fxShow.gt-md="true"></div>
  <span  *ngIf='test' fxLayoutAlign="center"  fxFlex="100" style="height : 24px; background-color: #cace1bb3; padding: 5px;">This site uses Local Storage to keep selected items in the basket. &nbsp;
      <a href="/legal" style="color : black;">learn more</a>&nbsp; &nbsp;
      <a style="cursor:pointer;" (click)="clickOnOf()" id='ok_cookie'>Ok</a>&nbsp; &nbsp;
      <a style="cursor:pointer;" (click)="clickOff()" id='ko_cookie'>No_Thanks</a>
</span>
<div class="frame binriagris" fxFlex="3" fxHide fxShow.gt-md="true"></div>
