<div fxLayout="row" fxFlexFill>
    <div class="mat-whiteframe-z1" style="background-color: white;">
        <h1 class="ml-50 pr-50">Credit</h1>
        <p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
        This work was launched by the Labex CominLabs (https://cominlabs.u-bretagneloire.fr/). It was and is now supported by CominLabs, and also in part by Inria (https://www.inria.fr/). A first version of this service was deployed in 2016 and made accessible from the CominLabs web site.
     </p>
</div>
