<toolbar-top-dir></toolbar-top-dir>

<div id="error-404" fxLayout="row" style="top: 184px; left: 0px; right: 0px; min-height: calc(100% - 45px);">

    <div class="frame" flex-gt-md="5" hide-sm></div>
    <div flex-gt-dm="90" flex-md="100" class="mat-whiteframe-z1" fxLayout="column" fxfxLayoutAlign="center center"
         style="background-color: rgb(255, 253, 219);">
        <div class="error-code">404</div>
        <div class="message">Sorry but we couldn’t find the page you are looking for</div>
        <a class="back-link mat-accent-color" href="/users-search">Go back to dashboard</a>
    </div>
    <div class="frame" flex-gt-md="5" hide-md></div>

</div>

<footer-dir></footer-dir>
