<div fxLayout="row" fxFlexFill>
    <div class="mat-whiteframe-z1" style="background-color: white;">
        <h1 class="ml-50 pr-50">Legal</h1>
        <p  class="ml-50 pr-50" style="font-size: 1.2em; font-weight: 400;">
        <span style="font-size: 1.3em; font-weight: 500;">Legal information </span><br><br>
        Inria<br>
        Domaine de Voluceau<br>
        Rocquencourt - B.P. 105<br>
        78153 Le Chesnay Cedex - France<br>
        Telephone: +33 1 39 63 55 11<br>
        Editorial director : Bruno Sportisse, Président-directeur général d'Inria<br>
        Editor in chief : Albert Benveniste<br>
        Webhosting : Direction des systèmes d'information d'Inria<br><br>


        <span style="font-size: 1.3em; font-weight: 500;">About the CNIL (National Committee for Data Protection) </span><br><br>
In compliance with articles 39 and 40 of the French data protection act (Act no. 2004-801 of August 6th 2004) concerning data processing, files and individual liberties, you have the right to access and modify your personal information.<br><br>

Inria has designated a special correspondent (CIL) to handle data processing and privacy issues with the CNIL, in compliance with article 22-III of the amended Act of 6th January 1978. This correspondent keeps records of data processed internally and normally subject to declaration. He is notably in charge of ensuring the right to access and correct personal information.<br><br>
For any requests concerning personal information, please contact the CIL at Inria.fr.<br><br>
    <span style="font-size: 1.3em; font-weight: 500;">Local Storage </span><br><br>
        We use Local Storage to save selected items your basket.
        <span style="font-size: 1.3em; font-weight: 500;">Statistiques </span><br><br>
        We use Piwik to collect your data. The data collected are your clicks and queries. These data help us to improve our ranking algorithm. These data are anonymized.
    </p>
</div>
