<div fxLayout="row" fxFlexFill>
    <div class="mat-whiteframe-z1" style="background-color: white;">
        <h1 class="ml-50 pr-50">Personnal data</h1>
        <p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">

            In accordance with Article 13 of the Regulation on the protection of individuals with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (General Data Protection Regulation or GDPR), please find below some information concerning this data collection:<br><br>

            1) The controller's representative is the CEO of Inria.<br><br>

            2) The Data Protection Officer (DPO) appointed by Inria can be contacted via dpo@inria.fr@inria.fr or via her postal address: The Data Protection Officer, Inria, 2004 route des lucioles, BP 93, 06902 Sophia-Antipolis cedex.<br><br>

            3) We only collect your clicks and your queries to improve responses given by the application and collect no personal data from you. These click-data are collected with Piwik (https://matomo.org/) and stored anonymously. <br><br>

            4)This data collection is done on a voluntary basis. Under no circumstances are you required by regulation, contract or other means to provide your data.<br><br>

            5) No personal information is given to a third party. The only recipient of your data is the Lookinlabs tool.<br><br>

            6) No transfer of your data to a third country or international organisation will be made.<br><br>

            7) Your data will be stored for a maximum period of two years.<br><br>

            8) The LookinLabs tool generates a page for some people, showing keywords characterizing their fields of interest, as synthesized by the tool. You can request the deletion of this information. You also have a right of opposition, a right of rectification of this (see https://www.cnil.fr for more information on your rights). To exercise these rights or for any question about the processing of your data in this system, you can contact the DPO:<br>
            - Contact our DPO electronically: dpo@inria.fr<br>
            - Contact our DPO by post:  The Data Protection Officer Inria, 2004 route des Lucioles, BP 93, 06902 Sophia-Antipolis Cedex<br><br>

            9) If, after contacting us, you consider that your IT rights and freedoms are not respected or that the processing does not comply with data protection rules, you can file a complaint with the CNIL.<br><br>

            10) This processing operation does not generate any profiling or automated decision-making concerning you on the basis of your data and the processing thereof.<br><br>

            Lookinlabs use data from HAL-archives, Raweb and BASTRI. We get publications from HAL-archives. BASTRI is used to get the filiation between teams. The Raweb is used to get team's members. We collect no personal data.
            <br><br>

     </p>
     <h1 class="ml-50 pr-50">Piwik</h1>
     <p class="mr-50 ml-50" style="font-size: 1.2em; font-weight: 400;">
         We use Piwik to collect your data. The data collected are your clicks and queries. These data help us to improve our ranking algorithm. These data are anonymized. </p>
</div>
