<mat-dialog ng-cloak>
    <mat-dialog-actions fxLayout="row" fxfxLayoutAlign="center center">
        <mat-input-container flex="60">
            <label>Email</label>
            <input style="height: 30px; margin-bottom: -3px;">
        </mat-input-container>
        <mat-button style="background-color: rgba(255, 165, 0, 0.6); fill: white;" (click)="sendMail()" mat-autofocus>
            Send
        </mat-button>
    </mat-dialog-actions>
</mat-dialog>

